@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

.font-manrope{
    font-family: 'Manrope', sans-serif;
}
textarea::placeholder {
    color: #999; 
    font-style: normal; 
}